EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Local URL (Active)
# EXPO_PUBLIC_API_URL=http://192.168.1.11:5001/api
# EXPO_PUBLIC_API_URL=http://localhost:5001/api

# UAT URL
EXPO_PUBLIC_API_URL=https://hunterx-backend-uat.up.railway.app/api

# Production URL
# EXPO_PUBLIC_API_URL=https://hunterx-backend-production.up.railway.app/api

# Google OAuth Client IDs (Set & Active)
EXPO_PUBLIC_GOOGLE_CLIENT_ID_WEB=991893509642-ci067mpa85j2uc2sgvbs50ji7002fd0s.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_IOS=991893509642-1mpn4fs7gm814s1v0cvjsd4cqfk5klh6.apps.googleusercontent.com

PORT=8081